doctype html  
html  
  head
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js')
    link(rel='stylesheet', href='/css/main.css')
    title SimpleNotesApp
    block head
  body
    #content.container
      input(type="hidden" id="csrfToken" value="#{csrf}")
      block content
